[submodule "Kame/vendor/spdlog"]
	path = Kame/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Kame/vendor/GLFW"]
	path = Kame/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Kame/vendor/imgui"]
	path = Kame/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Kame/vendor/glm"]
	path = Kame/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Kame\\vendor\\DirectXTex"]
	path = Kame\\vendor\\DirectXTex
	url = https://github.com/microsoft/DirectXTex
[submodule "Kame/vendor/Volk"]
	path = Kame/vendor/Volk
	url = https://github.com/zeux/volk
[submodule "Kame/vendor/Vulkan"]
	path = Kame/vendor/Vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers
